<div class="card">
  <%= @user_input %>
  <p>- You</p>
</div>

<div class="card" id="coach">
  <%= @coach_response %>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path, class: "link"  %>
